<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/calendar/webjars/bootstrap/5.3.2/css/bootstrap.min.css">

    <style>
        .container {
            padding-top: 22px;
            justify-content: center;
            display: flex;
        }

        .container .main-ol {
            width: 600px;
        }

    </style>
</head>
    <script src="/calendar/webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="/calendar/webjars/bootstrap/5.3.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/2.0.2/marked.min.js"></script>
<body>
    <div class="container">
        <ol class="list-group list-group-numbered main-ol" id="issues">
        </ol>
    </div>
</body>

<script src="/calendar/static/issues.js"></script>

</html>